<!DOCTYPE html>
<html>
  <head>
    <title>WhatTheFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track":"reload" %>
    <%= stylesheet_pack_tag 'application', media: 'all', "data-turbolinks-track":"reload" %>
    <%= javascript_pack_tag 'application', "data-turbolinks-track":"reload" %>
  </head>

  <body>

  <!-- <nav class="nav">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </nav> -->

  <%= yield %>

  </body>
</html>
